/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2025 ForgeRock AS.
 */
/*
 * Copyright 2015-2025 Ping Identity Corporation. All Rights Reserved
 *
 * This code is to be used exclusively in connection with Ping Identity
 * Corporation software or services. Ping Identity Corporation only offers
 * such software or services to legal entities who have entered into a
 * binding license agreement with Ping Identity Corporation.
 */
.page-header, .page-header-min h3 {
    border-bottom: 1px solid #2b2f31;
}

.am-panel-card:hover:not(.am-panel-card-muted) {
    border-color: #486B64;
}

.am-panel-card:hover:not(.am-panel-card-muted) .card-icon-circle {
    background-color: #7CCABA;
}

.am-panel-card .bg-muted {
    background-color: #263035;
    color: #374e56;
}

.dropdown-header {
    font-size: inherit;
}

.btn-toolbar.page-toolbar {
    border-color: #444;
}

label {
    font-weight: normal;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #373c3e 0%, #1f2223 100%);
    background-image: -o-linear-gradient(top, #373c3e 0%, #1f2223 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#373c3e), to(#1f2223));
    background-image: linear-gradient(to bottom, #373c3e 0%, #1f2223 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373c3e', endColorstr='#ff1f2223', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#loginContent > li > a {
    margin: -3px 0 -4px;
}
