<!--
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved
 
  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
-->
<div class="remember-forgot clearfix">
    <div class="checkbox pull-left">
        <label for="remember"><input type="checkbox" name="loginRemember" id="remember"> {{t "templates.user.LoginTemplate.loginRemember"}}</label>
    </div>
</div>
