{{!
 The contents of this file are subject to the terms of the Common Development and 
 Distribution License (the License). You may not use this file except in compliance with the 
 License.

 You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the 
 specific language governing permission and limitations under the License.

 When distributing Covered Software, include this CDDL Header Notice in each file and include
 the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 Header, with the fields enclosed by brackets [] replaced by your own identifying
 information: "Portions copyright [year] [name of copyright owner]".

  Copyright 2025 ForgeRock AS.
}}
{{!
  Copyright 2015-2025 Ping Identity Corporation. All Rights Reserved
 
 ! This code is to be used exclusively in connection with Ping Identity
 ! Corporation software or services. Ping Identity Corporation only offers
 ! such software or services to legal entities who have entered into a
 ! binding license agreement with Ping Identity Corporation.
}}
<div class="panel-heading">
    <h4 class="panel-title">
        {{t 'console.dashboard.quickStart'}}
    </h4>
</div>
<div class="panel-body">
    <div class="grid-list">
    {{#each tasks}}
        <div class="col-sm-6 col-md-3">
            <div data-panel-card class="panel-default panel am-panel-card">
                <a data-task-route="{{route}}">
                    <div class="card-body">
                        <div class="card-icon-circle card-icon-circle-sm bg-primary">
                            <i class="fa {{icon}}"></i>
                        </div>
                        <h3 class="card-name card-name-sm am-text-lines-three text-primary hidden-md">{{name}}</h3>
                        <h3 class="card-name card-name-sm am-text-lines-four text-primary visible-md-block">{{name}}</h3>
                    </div>
                </a>
            </div>
        </div>
    {{/each}}
    </div>
</div>
