# Copyright 2017-2018 ForgeRock AS. All Rights Reserved
#
# Use of this code requires a commercial software license with ForgeRock AS.
# or with one of its affiliates. All use shall be exclusively subject
# to such license between the licensee and ForgeRock AS.

"@sinonjs:registry" "https://registry.npmjs.org/"
registry "http://maven.forgerock.org/repo/api/npm/npm-virtual/"
