{{!
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved
 
  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
{{> headers/_Title title="console.scripts.list.title" }}

<div class="btn-toolbar page-toolbar" role="toolbar" aria-label="toolbar" data-grid-toolbar></div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-container"></div>
    </div>
</div>
