{{!
 The contents of this file are subject to the terms of the Common Development and 
 Distribution License (the License). You may not use this file except in compliance with the 
 License.

 You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the 
 specific language governing permission and limitations under the License.

 When distributing Covered Software, include this CDDL Header Notice in each file and include
 the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 Header, with the fields enclosed by brackets [] replaced by your own identifying
 information: "Portions copyright [year] [name of copyright owner]".

  Copyright 2015-2019 ForgeRock AS. All Rights Reserved
}}
<p> {{t "templates.user.ConfirmPasswordDialogTemplate.description"}} </p>
<form id="confirmPasswordForm" class="form-horizontal" autocomplete="off">
    <fieldset>
        <div class="form-group">
            <label for="currentPassword" class="col-sm-4 control-label">{{t "common.user.currentPassword"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="currentPassword" id="currentPassword" data-validator="required" data-validator-event="change keyup" autofocus required/>
                <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>
    </fieldset>
</form>
