{{!
  Copyright 2016-2017 ForgeRock AS. All Rights Reserved
 
  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div class="table-container am-inline-edit-table">
    <table class="table">
        <thead>
            <tr>
                {{#each headers}}<th>{{this}}</th>{{/each}}
                <th class="fr-col-btn-2"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
