{{!
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved
 
  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
{{#if topLevel}}
    {{> headers/_Title title="uma.resources.myresources.title" buttons="templates/user/uma/views/resource/_UnshareAllResourcesButton" }}
{{else}}
    {{> headers/_Title title=labelName }}
{{/if}}
<p class="page-description">{{t "uma.resources.myresources.description"}}</p>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-container"></div>
    </div>
</div>
