/*
 * Copyright 2015-2018 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

.btn {
    .transition(background-color, 0.1s, linear);
}

.btn-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-toolbar {
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: 0;

    .no-bottom-border {
        border-bottom: none;
    }
}
