/*
 * Copyright 2015-2018 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

.CodeMirror {
    border: 1px solid #dbdbdb;

    .CodeMirror-linenumber {
        color: #777;
    }
}

.cm-s-forgerock {
    .cm-keyword,
    .cm-tag,
    .cm-bracket  { color: #BD8D46; }
    .cm-variable { color: #2C2233; }
    .cm-operator { color: #1A9481; }
    .cm-number   { color: #005869; }
    .cm-comment  { color: #999999; }
    .cm-string   { color: #8DB500; }
    .cm-atom,
    .cm-attribute,
    .cm-property { color: #A00059; }
}
