{{!
  ~ Copyright 2012-2017 ForgeRock AS. All Rights Reserved
  ~
  ~ Use of this code requires a commercial software license with ForgeRock AS.
  ~ or with one of its affiliates. All use shall be exclusively subject
  ~ to such license between the licensee and ForgeRock AS.
  }}
<div class="container" id="dashboard">
    {{> headers/_Title title="openam.dashboard.title" }}

    <section id="myApplicationsSection" class="dashboard-section"></section>
    <section id="myTrustedDevicesSection" class="dashboard-section"></section>
    <section id="myOAuthTokensSection" class="dashboard-section"></section>
    <section id="authenticationDevices" class="dashboard-section"></section>
</div>
