<!--
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2019-2023 ForgeRock AS.
-->
<script>
var loginButton_0 = document.getElementById("loginButton_0"),
    callback_index = {{index}},
    /*
        If callback_index is zero and the "name" attribute on loginButton_0 is callback_1 we
        know ReCaptcha is by itself on the page. In this case we will hide loginButton_0
        and click it to submit the form automatically when ReCaptcha is complete.
    */
    standaloneMode = callback_index === 0 && loginButton_0 && loginButton_0.name === "callback_1",
    isV3 = {{reCaptchaV3}},
    disableSubmission = {{disableSubmission}},
    src = "{{apiUri}}",
    script = document.createElement("script");

if (disableSubmission) {
    loginButton_0.disabled = true;
}

function onloadCallback() {
    ["g-recaptcha-response", "h-captcha-response"].forEach(elementName => {
        document.getElementsByName(elementName).forEach(textarea => {
            textarea.setAttribute("aria-hidden", "true");
            textarea.setAttribute("aria-label", "do not use");
            textarea.setAttribute("aria-readonly", "true");
        });
    });
    if (isV3 && standaloneMode) {
        loginButton_0.click();
    }
}
if ( src.includes("?") ) {
    src += "&onload=onloadCallback";
} else {
    src += "?onload=onloadCallback";
}
if ( isV3 ) {
    src += "&render={{siteKey}}";
    function reCaptchaV3Handler(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        grecaptcha.ready(function() {
            grecaptcha.execute('{{siteKey}}', {action: 'submit'}).then(function(token) {
                loginButton_0.removeEventListener("click", reCaptchaV3Handler);
                handleCaptchaCallback(token);
                loginButton_0.addEventListener("click", reCaptchaV3Handler);
            });
        });
    };

    loginButton_0.addEventListener("click", reCaptchaV3Handler);
    document.getElementById("captchaCallback").remove();
}



if (standaloneMode) {
    // CAPTCHA node is only element on this page
    loginButton_0.style.display = "none";
}

// load the CAPTCHA JS library
script.setAttribute("src", src);
document.getElementsByTagName("head")[0].appendChild(script);

function handleCaptchaCallback(response) {
    document.getElementById("{{id}}").value = response;
    loginButton_0.disabled = false;
    if (standaloneMode || isV3) {
       loginButton_0.click();
    }
}

</script>

<style>
.captcha>div {
    margin: auto;
}
.captcha>div>div {
   display: inline-block;
}
</style>

<div id="captchaCallback"
     class="{{divClass}} captcha"
     data-sitekey="{{siteKey}}"
     data-callback="handleCaptchaCallback"></div>

<input type="hidden"
    id="{{id}}"
    name="callback_{{index}}"/>
