<!--
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2021 ForgeRock AS. All Rights Reserved
-->
{{#each providers}}
  {{#equals provider 'localAuthentication'}}
    <input type="hidden" name="callback_{{../index}}" id="localAuthentication" value="localAuthentication">
  {{else}}
    <div class="form-group">
      <button class="btn btn-light btn-block fr-social-login-button fr-social-login-button--{{provider}} {{uiConfig.buttonClass}} js-select-idp-button" name="callback_{{../index}}" value="{{provider}}" type="button">
        {{#if uiConfig.buttonImage}}<img src="{{uiConfig.buttonImage}}">{{/if}}
        {{uiConfig.buttonDisplayName}}
      </button>
    </div>
    <style>
      .fr-social-login-button--{{provider}} {
        {{uiConfig.buttonCustomStyle}}
      }

      .fr-social-login-button--{{provider}}:hover {
        {{uiConfig.buttonCustomStyleHover}}
      }
    </style>
  {{/equals}}
{{/each}}

{{#unless onlyCallback}}<hr class="fr-hr-with-text" data-content="{{t 'common.form.or' }}">{{/unless}}
