{{!
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved
 
  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div class="container">
    {{> headers/_TitleWithSubAndIcon title="uma.requests.list.title" type="uma.common.shares" icon="bell" }}
    <p class="page-description">{{t 'uma.requests.list.description'}}</p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-container"></div>
        </div>
    </div>
</div>
