/*
 * Copyright 2015-2018 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

.panel-default>.panel-heading {
    background-color: transparent;
    padding: 15px;
}

.panel-collapse .panel-body {
    padding-left: 33px;
}
.panel-collapse>.panel-heading {
    background-color: transparent;
    border-color: transparent;
}

.panel-default {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-title {
    font-weight: normal;
    letter-spacing: 1px;
}

.panel-collapse .panel-title>a {
    color: @base-theme-color;
}

.panel-title a:focus {
    color: @base-theme-color;
    text-decoration: none;
}

.panel-title a:hover {
    color: @panel-hover-color;
    text-decoration: none;
}

.panel .nav-list>li:last-child>a {
    border-bottom: none;
}

.panel-footer {
    background-color: #fff;
}

.panel-default.panel-collapse {
    border-bottom: 1px solid #eee;
}

.panel-default.panel-collapse:last-child {
    border-bottom: none;
}

.fr-panel-with-border.panel-collapse:last-child  {
    border: 1px solid #ddd;
}

.fr-panel-heading-with-button .button-group .btn-link, .fr-panel-heading-with-button .dropdown .btn-link {
    color: @navbar-toggle-color;

    &:hover, &:focus{
      color: darken(@base-theme-color, 5%);
    }
}

.fr-panel-scrollable {
  .panel-body {
    max-height: 300px;
    overflow: auto;
  }

  .panel-heading {
    border-bottom: 0px;

    .panel-title {
      font-weight: bold;
    }
  }
}
