{{!
  Copyright 2018 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}

<div class="navbar-header {{#if crumbs}}col-sm-3 col-md-3 col-lg-2{{else}}col-sm-12{{/if}}">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#breadcrumbNavBar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="ellipsis">
        <strong>
            {{#if icon}}<i class="fa {{icon}}"></i> {{/if}}<a href="{{home}}">{{title}}</a>
        </strong>
    </div>
</div>
